
main {
    height: calc(70vh - 3rem);
}

.main__over-title {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.4rem;
    font-weight: normal;
    margin-top: 30vh;
}

.main__title {
    font-size: 3.5rem;
    text-align: center;
    letter-spacing: 0.5rem;
    font-weight: normal;
    margin: 1rem 0;
    max-width: 80vw;
    margin: auto;
}

@media (min-width: 40rem) and (min-height: 40rem){
    .main__over-title {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .main__title {
        font-size: 8rem;
        max-width: 90vw;
    }
}